/*  your css code here. If applicable */
.grid-container {
   display: grid;
	   grid-template-rows: 124px 124px 124px 124px 124px;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
   gap: 5px;
}
.grid-item{
  list-style-type: none;
   background-color: darkgreen;
   padding: 35px;
   text-align: center;
   align-items: center;
   color: white;
   font-size: 40px;
}

#first-child(1) {
   grid-template-columns:  1fr 1fr 1fr 1fr 1fr ;
   grid-column : 1/5;  
	  grid-column: span 4 / auto;
}

#second-child(2) {
   grid-template-rows:   1fr 1fr 1fr 1fr ;
   grid-row : 2/6;  
}

#fourth-child(4) {
   grid-template-columns:   1fr 1fr   ;
   grid-column : 3/5;  
}

#fifth-child(5){
   grid-template-columns:   1fr 1fr   ;
   grid-column : 2/4;  
}


#tenth-child(10) {
   grid-template-columns:  1fr 1fr 1fr 1fr  ;
   grid-column : 2/5;  
}