/*  your css code here. If applicable */
.grid-container {
  display: grid;
   grid-template-rows: 124px 124px 124px 124px 124px;
   grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
   gap: 10px;
}
.grid-item{
  list-style-type: none;
   background-color: darkgreen;
   padding: 35px;
   text-align: center;
   align-items: center;
   color: white;
   font-size: 40px;
}

#first  {
     grid-template-columns:  1fr 1fr 1fr 1fr 1fr ;
     grid-column : 1/5;
	 
}

#second  {
   grid-template-rows:   1fr 1fr 1fr 1fr ;
   grid-row : 2/6;  
}

#fourth  {
   grid-template-columns:   1fr 1fr   ;
   grid-column : 3/5;  
}

#fifth {
   grid-template-columns:   1fr 1fr   ;
   grid-column : 2/4;  
}


#tenth {
   grid-template-columns:  1fr 1fr 1fr 1fr  ;
   grid-column : 2/5;  
}